button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    opacity: 1;
    transition: 0.3s;
}
button:hover {opacity: 0.6}

body{
    background-image: url('image/background_3.jpg');
}





#brush{
    background-image: url(image/brush.png);
}
#eraser{
    background-image: url(image/eraser.png);
}
#word{
    background-image: url(image/text.png);
}
#refresh{
    background-image: url(image/refresh.png);
}
#redo{
    background-image: url(image/redo.png);
}
#undo{
    background-image: url(image/undo.png);
}
#triangle{
    background-image: url(image/triangle.png);
}
#circle{
    background-image: url(image/circle.png);
}
#rectangle{
    background-image: url(image/rectangle.png);
}
#download_{
    background-image: url(image/download.png);
}
#rainbow{
    background-image: url(image/rainbow.png);
}



